module env;

public import std.process;
public import std.path;

string build_dir;

static this() {
  // Set this to wherever your LLVM+Clang build dir is.
  build_dir = environment["HOME"] ~ "/projects/TESLA/build/build";
}
